<h2>Search Results</h2>

<% if (@photos + @albums + @users).empty? %>
  Sorry, nothing matched your search term.
<% end %>

<div class="row">

  <% @photos.each do |photo| %>
    <div class="span3 photo">
      <b><em>Photo:</em></b>
      <%= link_to( image_tag(photo.photo_picture.url), user_album_photo_path(photo.album.user, photo.album, photo)) %>
    </div>
  <% end if @photos %>

  <% @albums.each do |album| %>
    <div class="span3 photo">
      <b><em>Album:</em></b>
      <%= link_to album.name, user_album_path(album, album.user) %>
    </div>
  <% end if @albums %>

  <% @users.each do |user| %>

    <div class="span3 photo">
      <b><em>4PiX Member:</em></b>
      <%= link_to user.first_name, user_path(user) %>
    </div>
  <% end if @users %>
<br>
<br>
</div>