<div class="span12">

<%= content_for :page_title, 'About Us - Custom page title' %>
  <div class="row">
    <div id="team_info">
      <h1 class="inner_shadow">About 4PiX</h1>
      <div class="about_us">
        <p> We are the 4PiX team in London and our mission is to revolutionize the world of the photography. We guarantee the highest quality of work and strive to provide exceptional customer service. Please feel free to contact us with questions, concerns or recommendations. We're always interested in making 4PiX better for <em>you!</em></p>
      </div>
      <h2 class="meet_us links">Meet the Team</h2>
    </div>

    <% @admins.each_slice(3) do |admins| %>
      <div class="row">
        <% admins.each do |admin| %>
          <div class="span4">
            <% cycle("1","2","3") %>
          <div class="photo_about">
            <h3><%= admin.first_name %> <% admin.last_name %></h3>
            <%= link_to image_tag(admin.avatar), user_path(admin) %><br/>
            <p><%= admin.biography %></p>
          </div>
        </div>
          <% if current_cycle == '1' %>
              <script>
              $( "div" ).last().addClass( "tilted1" );
              </script>
          <% end %>
          <% if current_cycle == '3' %>
              <script>
              $( "div" ).last().addClass( "tilted2" );
              </script>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<br>
<br>
</div>
