<%= content_for :page_title, 'Thanks for Registering' %>
<div class="row">
  Hold tight! We are processing your registration and you should receive an email to confirm shortly. Quick, go check your email!
</div>
