<%= content_for :page_title, 'Thanks for Registering' %>
<br>
<br>
<br>
<div class="links">
  Hold tight! We are processing your registration. <br><br>
  You should receive an email to confirm shortly. <br><br>
  Quick, go check your email!
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
