<%= content_for :page_title, 'About Us - Custom page title' %>

<div>
  <h1>About 4PIX team</h1>
  <br/>
  <br/>
    <p> We are  the 4PIX  team in London</p>
    <p> Our mission is to rivolutionize the world of the photos</p>
    <p> We always guarantee the quality of our work and strive to provide exceptional customer service</p>
  <br/>
  <br/>
  <h2>OUR TEAM</h2>
</div>
<div class="row">
  <div class="span4">
    <h3>Julien Deslangles-Blanch</h3>
      <img src="https://lh6.googleusercontent.com/-HY_Mb8anAo8/AAAAAAAAAAI/AAAAAAAAFAc/KKYAYeydPU4/photo.jpg">
      <p>Chinese speaking with a love/hate relationship with haml</p>
  </div>
  <div class="span4">
    <h3>Britney Jo Ludkowski</h3>
      <img src="https://s3.amazonaws.com/bigmarker-production/member_photos/38901/medium/IMG_0843.JPG?1336684841">
      <p>Burcoming web developer and houseplant assassin</p>
  </div>
  <div class="span4">
    <h3>Anna Hendre</h3>
      <img src="https://si0.twimg.com/profile_images/2893877942/31c70c88c20117caf66a2dee924e06b3.jpeg">
     <p> New in London for new experiences and cat lover</p>
  </div>
</div>
