<div>
<h1>Wall of Fame</h1>
  <div id="container">
  <% if @photos %>  
  <% @photos.each do |photo| %>
    <div class="item">
      <%= image_tag photo.photo_picture %>
      <b>Number of Likes:</b>
      <%= photo.likes.size %>
        <div class="voting">
          <% if current_user %>
            <% if current_user.voted_up_on? photo %>
              <%= button_to 'Unlike', unlike_wall_user_album_photo_path(photo.album.user, photo.album, photo) %>
            <% else %>
              <%= button_to 'Like', like_wall_user_album_photo_path(photo.album.user, photo.album, photo) %>
            <% end %>
          <%end%>
        </div>
    </div>
  <% end %>
  </div>
<%end%>
</div>