/* Photo styling */
.span4.photo_about {
margin-left: 15px;

}
.photo_about {
/*  width:200px;*/
  background-color: white;
  border-top: #FAF7CF solid 1px;
  border-right: #FAF7CF solid 1px;
  border-bottom: #FAF7CF solid 1px;
  border-left: #FAF7CF solid 1px;
  padding: 0px;
  margin: 2px;
  text-align: center;

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, #FCFCF7, #FAF7CF);
  background-image: -ms-linear-gradient(top, #FCFCF7, #FAF7CF);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FCFCF7), to(#FAF7CF));
  background-image: -webkit-linear-gradient(top, #FCFCF7, #FAF7CF);
  background-image: -o-linear-gradient(top, #FCFCF7, #FAF7CF);
  background-image: linear-gradient(top, #FCFCF7, #FAF7CF);
  background-repeat: repeat-x;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFCF7', endColorstr='#FAF7CF', GradientType=0);

    box-shadow: 3px 4px 5px 2px #BABAB6;
}