.photo {
  background-color: white;
  border-top: #FAF7CF solid 1px;
  border-right: #FAF7CF solid 1px;
  border-bottom: #FAF7CF solid 1px;
  border-left: #FAF7CF solid 1px;
  padding: 10px;
  margin: 10px;
  text-align: center;

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, #FCFCF7, #FAF7CF);
  background-image: -ms-linear-gradient(top, #FCFCF7, #FAF7CF);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FCFCF7), to(#FAF7CF));
  background-image: -webkit-linear-gradient(top, #FCFCF7, #FAF7CF);
  background-image: -o-linear-gradient(top, #FCFCF7, #FAF7CF);
  background-image: linear-gradient(top, #FCFCF7, #FAF7CF);
  background-repeat: repeat-x;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFCF7', endColorstr='#FAF7CF', GradientType=0);

    box-shadow: 3px 4px 5px 2px #BABAB6;
}

.tilted1
{
transform:rotate(3deg);
-ms-transform:rotate(3deg); /* IE 9 */
-webkit-transform:rotate(3deg); /* Safari and Chrome */
}

.tilted2
{
transform:rotate(-2deg);
-ms-transform:rotate(-2deg); /* IE 9 */
-webkit-transform:rotate(-2deg); /* Safari and Chrome */
}

.tilted3
{
transform:rotate(5deg);
-ms-transform:rotate(5deg); /* IE 9 */
-webkit-transform:rotate(5deg); /* Safari and Chrome */
}